* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: "Josefin Sans", sans-serif;
    color:darkred;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    background-color: yellowgreen;
}

a{
    text-decoration:none;
}

p{
    padding: 1.6rem 0;
    margin: 0rem 3rem;
    
}

.header{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding:0 20px;
    text-align: center;
    
   
}

header .bg-image{
    position:absolute;
    background-image: url(images/eco1.jpeg);
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 100%;
    opacity: 0.5;
    z-index: -1;


}

.header h1{
    font-size: 1.5rem;
}

.btn{
    display:inline-block;
    background:forestgreen;
    color: darkred;
    border: 1px solid;
    padding: 1rem 2rem;
    margin-top: 10 rem;
    transition:all 0.4s;
}

.hidden{
    display:none;
}

.btn:hover {
    background-color:lightgreen;

}

#readMoreText{
    display:inline-block;
    position:relative;
    margin-top: 8px;
}

.content{
    position: relative;
    z-index: 1;
}

#section-a{
    background-color: rgb(147, 187, 62);
    padding:3.2rem 0;
    margin: 3rem 0;
    color:grey;
}

img{
    width: 100%;
    height: auto;
}

#section-b{
    padding:2rem;
}


#section-b ul{
    list-style:none;
    
}

#section-b li{
    background: black;
    margin-bottom: 1.5rem;
}

.col-content{
    padding: 1.5rem;
}

#section-c{
    background-color: darkgreen;
    color:brown;
    padding: 4rem;
    line-height: 1;
    
}
.underline{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.responsive-img{
    display: block;
    width:100%;
    max-width: 320px;
    height:auto;
    margin:20px auto 0;
}

@media screen and (min-width:401px)and(max-width:800px){
    .responsive-img{
        width: 600px;
    }

}


@media screen and (min-width:801px){
    .responsive-img{
        width:900px;
    }
    
}












